<h1 class="title"><%= @project.name %></h1>

<%= live_patch "Edit project",
  to: Routes.project_show_path(@socket, :edit, @project),
  class: "button" %>

<%= if @live_action == :edit do %>
  <%= live_modal @socket, YowedWeb.ProjectLive.FormComponent,
    id: @project.id,
    title: "Edit project",
    size: :small,
    action: :edit,
    project: @project,
    current_user: @current_user,
    return_to: Routes.project_show_path(@socket, :show, @project) %>
<% end %>
