<%= if info = get_flash(@conn, :info) do %>
  <div class="toast-container is-unselectable">
    <div class="toast notification is-info" role="alert">
      <%= info %>
    </div>
  </div>
<% end %>

<%= if error = get_flash(@conn, :error) do %>
  <div class="toast-container is-unselectable">
    <div class="toast notification is-danger" role="alert">
      <%= error %>
    </div>
  </div>
<% end %>
