<%= render "_menu.html",
  conn_or_socket: @socket,
  current_user: @current_user,
  project: @project %>

<section class="section">
  <div class="container is-fluid">
    <%= @inner_content %>
  </div>
</section>

<%= render "_live_flash.html", assigns %>
