@import 'bulma';
@import '../node_modules/nprogress/nprogress.css';

body {
  min-height: 100vh;
}

.box + .content {
  padding: 0 20px;
}

.phx-no-feedback.help,
.phx-no-feedback .help {
  display: none;
}

.phx-click-loading {
  opacity: .5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;

  * {
    pointer-events: none;
  }
}
