@import 'bulma';
@import '../node_modules/nprogress/nprogress.css';

.box + .content {
  padding: 0 20px;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: .5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;

  * {
    pointer-events: none;
  }
}
