.modal {
  display: flex !important;
  transition: all .2s ease-out;
  opacity: 0;

  .modal-content {
    transition: inherit;
    margin-top: -50px;
  }

  &.is-active {
    opacity: 1;

    .modal-content {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 440px), print {
    &.is-small .modal-content {
      max-width: 440px;
      width: 100%;
    }
  }

  @media screen and (min-width: 840px), print {
    &.is-large .modal-content {
      max-width: 840px;
      width: 100%;
    }
  }
}

.modal-content > .delete {
  position: absolute;
  top: 20px;
  right: 20px;
}
