<ul>
  <li>
    <strong>Name:</strong>
    <%= @template.name %>
  </li>
  <%= if @template.subject do %>
    <li>
      <strong>Subject:</strong>
      <%= @template.subject %>
    </li>
  <% end %>

  <%= if @template.from && @template.from.email do %>
    <li>
      <strong>From:</strong>
      <%= @template.from.name %> &lt;<%= @template.from.email %>&gt;
    </li>
  <% end %>
</ul>
<br>
<pre class="content">
  <%= @template.body %>
</pre>
