<div class="field">
  <%= label @f, :email, class: "label" %>
  <div class="control">
    <%= email_input @f, :email,
      required: true,
      class: "input",
      placeholder: "you@yourcrew" %>

    <%= error_tag @f, :email %>
  </div>
</div>
