<div class="field">
  <%= label @f, :name, class: "label" %>
  <div class="control">
    <%= text_input @f, :name,
      required: true,
      class: "input",
      placeholder: "Your cute nickname" %>
  </div>
  <%= error_tag @f, :name %>
</div>
