<div class="field">
  <%= label @f, :password, class: "label" %>
  <div class="control">
    <%= password_input @f, :password,
      required: true,
      class: "input",
      placeholder: "notyourpetname" %>

    <%= error_tag @f, :password %>
  </div>
</div>
